.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDetails {
  background-color: #329879;
}

.produtos {
  list-style-type: none;
  margin-right: 40px;
}

.produtos li {
  margin: 10px;
  border: none;
  background-color: #3d227e;
  color: white;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.badge {
  background-color: #699bdd;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  height: 20px;
}

.maindetails {
  text-align: center;
  width: 500px;
}

.details {
  width: 300px;
  margin: 0px;
  margin-left: 17%;
  text-align: left;
}

.details input {
  border: none;
  background-color: #13b6a8;
  border-radius: 2px;
  padding: 4px;
  width: 100%;
}

#detalhes {
  font-size: 20px;
}

ul {
  text-align: left;
  vertical-align: middle;
}

li {
  height: 20px;
  vertical-align: middle;
}
