
<div class="container"> 
      <div *ngIf="selectedProduct" class="maindetails">
        <h2 id="detalhes">Detalhes de {{selectedProduct.name | uppercase}}</h2>
        <div>id: {{selectedProduct.id}}</div><br>
        <div class="details">
          <label for="product-name">Produto: </label>
          <input id="product-name" [(ngModel)]="selectedProduct.name" placeholder="Produto"><br><br>
          <label for="product-preco">Valor: </label>
          <input id="product-preco" [(ngModel)]="selectedProduct.preco" placeholder="Valor"><br><br>
          <label for="product-qtdEstoque">Qtd. no Estoque: </label>
          <input id="product-qtdEstoque" [(ngModel)]="selectedProduct.qtdEstoque" placeholder="Quant. em armazém"><br><br>
          <label for="product-categoria">Fabricante: </label>
          <input id="product-categoria" [(ngModel)]="selectedProduct.marca" placeholder="Fabricante"><br>
        </div>
      </div>  
    <h2>Produtos disponíveis</h2>
    <ul class="produtos">
      <li *ngFor="let produto of produtos" (click)="onSelect(produto)">
        <span class="badge">{{produto.id}}</span> {{produto.name}}
      </li>
    </ul>

</div>